@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/MusteriCalisan/Views/Shared/MusteriCalisanLayout.cshtml";
}
   
<title>AnaSayfa</title>
 
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a href="/MusteriCalisan/CagriOlustur" class="btn btn-block btn-lg btn-default" style="margin-top:30px;">@ServisTakipWeb.Connection.cagriOlustur.ToString() <span class="glyphicon glyphicon-plus-sign" > </span></a>
    </div>
    <div class="col-md-4"></div>
</div> 
 
